body {
	background-color: #ffffff;
}

body, html, input {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
}



#varcharsize {
	visibility:hidden;
}


#preloads {
	visibility:hidden;
	vertical-align:top;
}

#sortbox {
	visibility:hidden;
	vertical-align:top;
}

#optionloader {
	display:none;
	vertical-align:top;
}

#newoptionbox {
	display:none;
}

.rowon {
	background-color: #ffffff; 
}

.rowoff {
	background-color: #bbbbbb; 
}

.fieldheading {
	background-color: #dddddd; 
	color: black;
	font-weight:bold;
	text-align: left;
}

.rowhead {
	background-color: #ffff00; 
	color: black;
	font-weight:bold;
	font-size:inherit;
	text-align: left;
	display:table-row;
}

.rowdiv {
	display:table-row;
	font-weight:bold;
	vertical-align:top;
	font-size:inherit;
}

.celldiv {		
	display:table-cell;
	font-size:inherit;
	padding: 5px 5px 5px 5px;
	word-wrap: break-word;
	white-space: -moz-pre-wrap;

}

.admincelldiv {		
	display:table-cell;
	text-align: center;
	font-size:inherit;
	padding: 5px 5px 5px 5px;	

}
.helpdiv {		
	display:table-cell;
	width: 30px;
	  text-align: left;
	font-size:inherit;
	padding: 5px 5px 5px 5px;	

}
.tablediv {
	table-layout:fixed;
	padding: 5px 5px 5px 5px;
	border: solid;
	display:table;
	width: 1200px;
	font-size:12px;
	vertical-align:top;

}

.entrytablediv {
	table-layout:fixed;
	padding: 5px 5px 5px 5px;
	display:table;
	width: 400px;
	font-size:12px;
	vertical-align:top;

}

.tableheadingrow {
	display:table-row;
	font-weight:bold;
	vertical-align:top;
	font-size:inherit;
}

.tableheadingcell {		
	display:table-cell;
	font-size:15px;
	text-align: left;

	padding: 10px 10px 10px 10px;	

}
	

.upsort {
	font-size:20px;
	color: blue;
	font-weight:bold;
	text-align: left;
}

.downsort {
	font-size:20px;
	color: red;
	font-weight:bold;
	text-align: left;
}

.sorttablediv {
	table-layout:fixed;
	border: solid;

	display:table;
	width: 200px;
	font-size:12px;
	vertical-align:top;

}

.sortlist {
	border: solid;
	width: 400px;
	font-size:12px;
	vertical-align:top;

}

.sortlistrow {
	display:table-row;
	font-weight:bold;
	vertical-align:top;
	font-size:inherit;
}

.sortlistcell  {		
	display:table-cell;
	font-size:inherit;
	border-bottom: 2px solid black;
	padding: 5px 5px 5px 5px;	

}
	

